<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<section class="container">
			<section class="header">
				<div><a class="brand" th:href="@{/}">勤怠管理アプリ</a></div>
				<div class="user-info">
					<span th:text="${#authentication.principal.username}">user</span>
					<img class="avatar" th:src="${#authentication.principal.avatar} != '' ? ${#authentication.principal.avatar} : @{/img/default_avatar.jpg}" />
					<form th:action="@{/logout}" method="post" />
						<input class="ope" type="submit" value="Logout" />
					</form>
				</div>
			</section>
		<div layout:fragment="contents"></div>
	</section>
</body>
</html>